.description-box {
  background-color: #000000;
  border: 5px solid #a10000;
  border-radius: 20px;
  margin: 3% 2% 3% 4%;
  padding: 3%;
}
.description-box a {color: #00A100;}
.db-left {margin-right: 52%;}
.db-right {margin-left: 52%;}

.MainContent-left {height: 20px;}
.mainContent-right {height: 69px;}