.terminal {
  margin: 10px;
  padding: 10px;
  background-color: #323234;
  border: 4px solid red;
  border-radius: 30px;
  min-height: 515px;
  min-width: 1000px;
}
.arkive-tree {
  background-color: #000000;
  color: #00A100;
  border: 4px solid #a100a1;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-family: "Curier New";
}
* a {
  text-decoration: none;
  color: #00A100;
  font-family: "Curier New";
}
.con-info {
  border: 4px solid #a100a1;
  border-radius: 20px;
  width: 60%;
  height: 400px;
  float: left;
  padding: 10px;
  margin: 10px;
  background-color: #000000;
}
.con-com {
  border: 4px solid #a100a1;
  border-radius: 20px;
  width: 30%;
  height: 400px;
  float: right;
  padding: 10px;
  margin: 10px;
  background-color: #000000;
}
.Block-Sanghefte {
  background-color: #000000;
  color: #00A100;
  border: 5px solid #a100a1;
  border-radius: 20px;
}
.Block-Sanghefte a {
  text-decoration: none;
}
