.page {
  background-color: #ffffff;
  color: #000000;
}
.quotes {

}
.quote {
  text-align: left;
}
.person {
  text-align: right;
}
.text-box-left {}
.text-box-right {}
.text {
  text-decoration: none;
}
