.Dates {
  color: #0000a1;
  text-decoration: none;
  font-size: 100%;
  margin-left: 6px;
  margin-right: 6px;
}
.Dates.active {
  color: #00A100;
  text-decoration: none;
  font-size: 100%;
  margin-left: 2%;
  margin-right: 3%;
}
.CalendarRow:after {
  content: "";
  display: table;
  clear: both;
}
.CalendarColumn {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
.CalendarMonth {
  border: 5px solid #a10000;
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
  background-color: #000000;
  min-width: 285px;
  min-height: 140px;
}
.MonthName {
  color: #A100A1;
  text-decoration: none;
  padding: 0;
  margin: 0 0 0 22px;
}
.CalendarLogo {
  color: #A100A1;
  text-align: center;
  background-color: #000000;
  border-radius: 30px;
  font-size: 200%;
  padding: 5px 10px 5px 10px;
  margin-left: 100px;
  margin-right: 800px;
  border: 5px solid #a10000;
}
