body {
  color: #ff00ff;
  background-color: #000000;
  background-image: url(/Veggpapir/pride-flag-wallpaper.jpg);
  margin: 0;
}
/* --- Header --- */
.header {
  background-color: #000000;
  color: #a10000;
  text-align: center;
  font-size: 24px;
  padding: 24px;
  height: 25%;
}

/* --- Navigation Menu --- */
.nav:after {
  content: "";
  display: table;
  clear: both;
}
.Menu {
  background-color: #a10000;
  margin: 0;
  padding: 0px;
  float: left;
  overflow: hidden;
  height: 15%;
}
.Menu a {
  color: #000000;
  background-color: #a10000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: left;
  padding: 15px 17px;
}
.Menu a:hover {
  color: #ff00ff;
  background-color: #161161;
}
.Menu a.active {
  color: #ff00ff;
  background-color: #000000;
}
.MenuLeft  {
  margin: 0;
  width: 20%;
  background-color: #a10000;
  color: #000000;
}
.MenuRight {
  margin: 0;
  width: 80%;
}

/* --- Page Layout --- */
.MC-row:after {
  content: "";
  display: table;
  clear: both;
}
.MainContent {
  margin: 0;
  float: left;
  padding: 0;
}
.MC-Left, .MC-Right {
  width: 20%;
  text-align: center;
}
.MC-Main {
  width: 60%;
}

/* --- Page Content Main --- */
.Content {
  color: #ff00ff;
  background-color: #000000;
  text-decoration: none;
  font-size: 17px;
  border: 5px solid #a10000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.Content a {
  text-decoration: none;
  color: #ff00ff;
}

/* --- Page Content Left --- */
/* --- Page Content Right --- */
.Language {
  background-color: #000000;
  border: 5px solid #a10000;
  position: fixed;
  margin: 65px;
  padding: 25px;
}
.Language a{color: #008000;}

/* --- Other --- */
.row:after {
  content: "";
  display: table;
  clear: both;
}
