body {
  color: #A100A1;
  background-color: #000000;
  background-image: url(/System_7/Images/Wallpaper/pride-flag-wallpaper.jpg);
  margin: 0;
  font-family; "Times New Roman";
}
@font-face {
  font-family: "against myself";
  src: url("/System_7/Dive/Against_Myself.ttf")
}

/* --- Header --- */
.header {
  background-color: #000000;
  color: #a10000;
  text-align: center;
  /*font-size: 24px;*/
  padding: 1%;
  margin: 0;
}
.header h1 {
  font-family: "Lucida Blackletter";
  text-shadow: 3px 3px 3px purple, 0 0 25px darkred;
  font-size: 500%;
}
.header h2 {
  font-family: "against myself";
  font-size: 200%;
}

/* --- Navigation Menu --- */
.nav:after {
  content: "";
  display: table;
  clear: both;
}
.Menu {
  background-color: #a10000;
  margin: 0;
  padding: 0px;
  float: left;
  overflow: hidden;
  height: 15%;
}
.Menu a {
  color: #000000;
  background-color: #a10000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: left;
  padding: 15px 17px;
}
.Menu a:hover {
  color: #A100A1;
  background-color: #161161;
}
.Menu a.active {
  color: #A100A1;
  background-color: #000000;
}
.MenuLeft  {
  margin: 0;
  width: 20%;
  background-color: #a10000;
  color: #000000;
}
.MenuRight {
  margin: 0;
  width: 80%;
}

/* --- Page Layout --- */
.MC-row:after {
  content: "";
  display: table;
  clear: both;
}
.MainContent {
  margin: 0;
  float: left;
  padding: 0;
}
.MC-Left, .MC-Right {
  width: 20%;
  text-align: center;
}
.MC-Main {
  width: 60%;
}

/* --- Page Content Main --- */
.Content {
  color: #A100A1;
  background-color: #000000;
  text-decoration: none;
  font-size: 17px;
  border: 5px solid #a10000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.Content a {
  text-decoration: none;
  color: #A100A1;
}

/* --- Page Content Left --- */
/* --- Page Content Right --- */
.Language {
  background-color: #000000;
  border: 5px solid #a10000;
  position: fixed;
  margin: 65px;
  padding: 25px;
}
.Language a{color: #008000;}

/* --- Other --- */
.ErrorContent {
  background-color: #000000;
  border: 5px solid #a10000;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
.ErrorContent a {
  color: #00A100;
  padding: 10px 10px 10px 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
